services:
  api:
    build: ./api
    ports: ["3000:3000"]
    environment:
      MONGODB_URI: "mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@${MONGO_HOST}:${MONGO_PORT}/cookieless?authSource=admin"
    depends_on:
      - mongodb
    volumes:
      - stats_data:/var/www/stats
    env_file:
      - .env

  mongodb:
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - mongodb_data:/data/db
    ports:
      - "9333:${MONGO_PORT}" 
    env_file:
      - .env

  nginx:
    image: nginx:latest
    ports: ["7880:80", "7881:443"]
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - /etc/letsencrypt:/etc/letsencrypt
      - stats_data:/var/www/stats
    depends_on:
      - api
    command: /bin/sh -c "rm -f /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'"

volumes:
  mongodb_data:
  stats_data: