name: Backend Deployment
on:
  push:
    paths:
      - 'backend/**'
      - '.github/workflows/backend.yml'
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            echo "${{ secrets.SERVER_SUDO_PASS }}" | sudo -S chown -R $USER:$USER /opt/CookieLess
            cd /opt/CookieLess/backend
            git fetch --all && git reset --hard origin/main
            ansible-playbook ansible/playbook.yml \
              --extra-vars "MONGO_INITDB_ROOT_USERNAME=${{ secrets.MONGO_INITDB_ROOT_USERNAME }} \
                            MONGO_INITDB_ROOT_PASSWORD=${{ secrets.MONGO_INITDB_ROOT_PASSWORD }} \
                            ansible_become_pass=${{ secrets.SERVER_SUDO_PASS }}"